*{
            margin:0;
            padding:0;
		    text-decoration: none;
            font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
        }
		a:link {color: #FFFFFF} /* 未访问的链接   */
		a:visited {color: #FFFFFF} /* 已访问的链接 */
        a:active {color: #FFFFFF} /* 选定的链接 */


#safety-tips{
	width: 100%;
	height: 35px;
	background: rgb(241, 249, 236);	
}



#safety-tips .safety-icon{
	width: 1rem;
	height: 1rem;
	margin:10px 4px 20px 15px;
	float:left;
}

#safety-tips .safety-icon img{
	width: none;
	height: 15px;
}


#safety-tips .safety-title{
	line-height: 35px;
	font-size: 16px;
	color:#07C160;
        float:left;
}

        #top{
        	width: 100%;
        	height: 60px;
        	background-image: linear-gradient(to right, #ff9569 0%, #e92758 100%);
        	position: fixed;
        	top: 0;
        	text-align: center;
        	line-height: 60px;
        	font-size: 20px;
        	color: #fff;
        	font-weight: bold;
        }
        #pic{
            width: 60%;
            margin:0px auto 10px;
        }
        #pic img{
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
        }

        /*项目内容区*/
        #project_content{
            width: 95%;
            height:500px;
            background: #fff;
            padding:10px 0;
            border-radius: 5px;
            margin:-10px auto auto auto;
            box-shadow: 0 0 3px #eee;
        }
        #project_content .project_text{
            width: 80%;
            background: #f5f5f5;
            border-radius: 10px;
            margin:10px 10px;
            padding:20px 20px;
        }

        #copy{
        	width: 90%;
        	height: 100%;
        	background-color:rgba(0,163,223,1);
        	border-radius: 2px;
        	text-align: center;
        	line-height: 50px;
        	font-size: 25px;
        	font-weight: bold;
        	margin:50px auto 5px;
        	color: #fff;
        	-webkit-tap-highlight-color:rgba(0,100,0,0);
            border:none;
            display: block;
        }

